@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  @apply overflow-x-hidden bg-dark font-fira text-dimmed_text;
}

.bordered-wrapper {
  /* box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888,
     2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset; */
  /* padding: 3px; */
  /* outline: 3px solid red; */
  /* border: 3px solid red; */
  @apply outline outline-2 outline-gray-500;
  opacity: 0.8;
  background-image: radial-gradient(#3c91e66b 0.5px, #00000000 0.5px);
  background-size: 10px 10px;
}

.project-card img {
  border-width: 2px 2px 0 2px;
  width: 100%;
}

.btn {
  /* @apply block border border-primary px-8 py-2;
  @apply relative block bg-primary px-8 py-2 text-white;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  box-shadow: 0 0 0 2px yellow, 0 0.625em 0 0 yellow;
  transform: translate3d(0, 0.75em, -1em); */
  /* @apply mx-5 flex transform rounded-md bg-primary px-4 py-3 text-white shadow-lg outline-none transition-transform focus:ring-4 active:scale-x-75; */
}

/* .btn::before {
  display: block; 
  box-shadow: 0 0 0 2px red, 0 0.625em 0 0 red;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  z-index: 2;
  border: 2px solid blue;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
} */

h1,
h2,
h3,
h4 {
  @apply text-light_text;
}
